@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Romanesco);

html
{
    height: 100%;
}

body
{
    height: 100%;
    overflow-x: hidden;
}
main
{
    position: relative;
    margin: -60px -10px 0 -10px;
    padding: 65px 10px 0 10px;
    /*background: #ffeba9 url(http://hqstyles.com/uploads/posts/2012-02/thumbs/1329779290-94027-vintage-paper-patterns-pw-4.jpg) repeat;*/
    background: #e7e1af;
    -moz-column-count: 3;
    -moz-column-rule: 3px solid #444;
    -webkit-column-count: 3;
    -webkit-column-rule: 3px solid #444;
    column-count: 3;
    column-rule: 3px solid #444;
    color: #333;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    text-align: justify;
    z-index: -1;
}

header
{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin: 5px;
}
main > header
{
    margin-bottom: 10px;
    -webkit-column-span: all;
    column-span: all;
    text-align: center;
    font-size: 40px;
    border: 4px double #444;
    border-right: none;
    border-left: none;

}

img {
    width: 100%;
    padding: 5px 0;
    border-top: 2px solid #444;
}

article:not(:first-of-type)
{
    border-top: 2px solid #444;
}

article > div
{
    text-align: center;
    border-bottom: 2px solid #444;
    margin-bottom: 5px;
}

p:first-of-type:first-letter
{
    font-family: 'Fredericka the Great', cursive;
}

article:last-child
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

article:last-child > header,
article:last-child > div
{
    -webkit-column-span: all;
    column-span: all;
}

blockquote
{
    padding: 5px;
    border: 3px double #444;
    font-family: 'Romanesco', cursive;
    font-size: 25px;
}

blockquote > div
{
    text-align: right;
}

#bright:checked ~ main,
#bright:checked ~ label
{
    color: #fff;
    background: #000;
}


#fontSize:checked ~ main
{
    font-size: 200%;
}

#fontStyle:checked ~ main
{
    font-family: Times;
}

p
{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
